{% extends "auction/base.html" %}
{% load i18n %}
{% block title %} My Auction{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ head }}</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<table class="table" border="1">
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Deadline</th>


        {% for i in user.user_auction.all  %}

            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.min_price }}</td>
                <td>{{ i.deadline|date:"d.m.Y" }} {{ i.deadline|time:"H:i:s" }}</td>
                <td><a href="{% url 'auction:edit' id=i.id%}">Bid</a></td>

                <td><button type="submit" class="btn btn-outline-info"><a href="{% url 'auction:edit' id=i.id %}"> Edit </button></td>

            </tr>
        {% endfor %}
</table>

{% endblock %}